# compiled binaries
*.o
*.bin
*.elf
*.iso
*.img
obj/
tools/mkdisk

# debug files
*.asm
*.sym
*.map
*.d

# QEMU
*.log

# editor
.vscode/
.idea/
*.swp
*.swo
.neovim/

# system
.DS_Store
Thumbs.db

# others
isodir/
*.zip